.slideWrapper {
  color: white;
  display: flex;
  flex-direction: row;

  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .slideWrapper {
    flex-wrap: wrap;
  }
}

.spotlightCard div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  color: orangered;
}
