/* Container Styles */
.container {
  background: linear-gradient(180deg, #0d161b 0%, #030b10 100%);
  border-radius: 30px;
  margin: 7%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  padding: 15px;
  width: auto;
}

.container hr {
  color: #111d25;
}

/* Slide Wrapper Styles */
.slideWrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (max-width: 500px) {
  .slideWrapper {
    flex-wrap: wrap;
  }
}

/* Spotlight Card Styles */
.spotlightCard {
  padding: 20px;
  border-radius: 30px;
  background: linear-gradient(5.75deg, rgba(12, 20, 25, 0.03) 13.86%, #FD392D 95.43%);
  display: flex;
  flex-direction: column;
}

.spotlightCard div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  font-weight: bold;
  color: black;
}

.title {
  font-weight: bold;
  color: #ffffff;
}

.description {
  color: #ffffff;
}
