/* Estilos gerais */
.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
  background-color: #030b10;
}

.sponsors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px; 
}

.tpatrocinio {
  color: #e4e4e4;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.barra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.barra h3 {
  margin: 0 10px;
  color: #8B321D;
  font-size: 24px;
}

.barra hr {
  flex: 1;
  border: none;
  border-top: 1px solid #213441;
  margin: 0 50px;
}


.platinum,
.gold,
.silver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  border-radius: 10px; 
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  gap: 0px;
  width: 140px;
  height: 60px;
}

/* Responsividade */
@media (max-width: 768px) {
  .sponsors {
    flex-direction: column;
    align-items: center;
    gap: 20px; 
  }

  .logo {
    width: 120px; 
    height: 70px; 
  }

  .tpatrocinio {
    font-size: 24px; 
  }
}
