@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-page: #030B10;
  --poppins-font: 'Poppins', sans-serif;
  --inter-font: 'Inter', sans-serif;
}

body {
  font-family: var(--poppins-font);
  background-color: var(--background-page);
}

.header {
  font-family: var(--inter-font);
}
