@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poppins-font: 'Poppins', sans-serif;
  --inter-font: 'Inter', sans-serif;
  --background-page: #030B10;
}

body {
  font-family: var(--inter-font);
  background-color: var(--background-page);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--poppins-font);
}

h1 {
  background: linear-gradient(to right, #fff, #3B78A4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.svg_animated{
  top: 0.75rem;
  transition: all .16s ease-in-out;
  animation: scroll 1s .14s ease-in-out alternate infinite;
}
.guide_container{
  background-image: url("/back.png");
  background-size: cover;
  background-position: center center;
}

@keyframes scroll {
  from {
    top: 0.75rem;
  }
  to{
    top: 2.5rem;
  }
}
