.header {
  font-family: 'Poppins', sans-serif !important;
  z-index: 1000;
  position: fixed;
  width: 100vw;
}

.header .container_area {
  width: 100%;
  margin: 0 auto;
  padding: 30px 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  height: 94px;
  background: transparent;
  backdrop-filter: blur(20px);
  border-bottom: 1px #00aef91d solid;
}

.boxButton {
  color: white;
}


/* Mobile Menu */
.header .container_area .mobile_menu {
  position: absolute;
  width: 100%;
  max-width: 1356px;
  margin: 0 auto;
  left: 0;
  z-index: 1000;
  padding: 32px 15px;
  top: 124px;
  background-color: var(--blue900);
  border-radius: 24px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s;
  overflow-y: scroll;
}

.header .container_area .mobile_menu a {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  max-width: 240px;
}

.header .container_area .mobile_menu a.active {
  color: var(--blue500);
}

.header .container_area .mobile_menu.active .buttonSupport {
  display: none;
}

/* Hamburger Menu */
.header .container_area .hamburger {
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}

.header .container_area .hamburger:hover {
  opacity: 80%;
}

/* Link List */
.header .container_area .list_link {
  display: flex;
  list-style: none;
  gap: 32px;
  margin-left: -64px;
}

.header .container_area .list_link a {
  font-size: 18px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}

.header .container_area .list_link a::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  background-color: var(--blue500);
  bottom: -6px;
  left: 0;
  transition: all 0.3s;
}

.header .container_area .list_link a:hover {
  color: var(--blue500);
}

.header .container_area .list_link a:hover::after {
  width: 100%;
}

.header .container_area .list_link a.active {
  color: var(--blue500);
}

/* Logo Box */
.header .container_area .boxLogo {
  display: flex;
  gap: 12px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  text-decoration: none;
}

/* Support Button */
.buttonSupport {
  background: linear-gradient(90deg, #f84438 0%, #0c141a 70%);
  border-radius: 61px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background 0.5s, color 0.3s, transform 0.3s;
  display: flex;
  text-decoration: none;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.header .container_area .buttonSupport:hover {
  background: linear-gradient(-90deg, #f84438 0%, #0c141a 70%);
}

/* Box Button */
.boxButton {
  display: flex;
  align-items: center;       
  gap: 24px;
}
