.container {
  overflow: hidden;
  position: relative;
}

.slideWrapper {
  display: flex;
  transform-origin: top left;
  margin-top: 50px;
}

.spotlightCard {
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(71, 86, 94, 0.168627) 0%, rgba(0, 0, 0, 0) 100%);
  margin: 10px;
}

.title {
  font-size: 1.5em;
  margin: 0;
  color: white;
}

.description {
  margin-top: 3px;
  font-size: 1em;
  color: white;
}

@media (max-width: 768px) {
  .slideWrapper {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .elevated1 {
    margin-top: -50px;
  }

  .elevated2 {
    margin-top: -25px;
  }
}
